.btn:hover{
    cursor:alias;
}
.btnType1{
    color:green;
    font-size:1.5em;
    padding:5px 20px;
    border:1px solid green;
    background-color: transparent;
    margin:5px;
    font-family: "Segoe UI";
    border-radius:10px;
}
.btnType1:hover{
    color:white;
    background-color:green;
}
.btnType2{
    color:green;
    text-decoration:none;
    padding:5px 20px;
    border:1px solid green;
    background-color: transparent;
    margin:5px;
    font-family: "Segoe UI";
    border-radius:10px;
}
.btnType2:hover{
    color:white;
    background-color:green;
}
.btnType3{
    color:red;
    text-decoration:none;
    padding:5px 20px;
    border:1px solid red;
    background-color: transparent;
    margin:5px;
    font-family: "Segoe UI";
    border-radius:10px;
}
.btnType3:hover{
    color:white;
    background-color:red;
}
.btnType4{
    color:blue;
    text-decoration:none;
    padding:5px 20px;
    border:1px solid blue;
    background-color: transparent;
    margin:5px;
    font-family: "Segoe UI";
    border-radius:10px;
}
.btnType4:hover{
    color:white;
    background-color:blue;
}
.loadDiv{
    color:green;
    font-family:'Courier New', Courier, monospace;
    font-size:2em;
    text-align:center;
    margin:20px;
}